<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>
            <a href="http://www.rebatehero.com/privacy">Privacy Policy</a>
          </li>
          <li>
            <a href="http://www.rebatehero.com/terms">Terms of Service</a>
          </li>
          <li>
            <a href="http://www.rebatehero.com/contact">Contact Us</a>
          </li>
          <hr>
          <li>
            <a href="http://www.rebatehero.com/advertise">Advertise</a>
          </li>
          <li>
            <a href="http://www.rebatehero.com/press-kit">Press Kit</a>
          </li>
          <li>
            <a href="http://www.rebatehero.com/in-the-news">In The News</a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.facebook_username %}
          <li>
            <a href="https://facebook.com/{{ site.facebook_username }}">
              <span class="icon icon--facebook"></span>

              <span class="username">Facebook</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter"></span>

              <span class="username">Twitter</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">
          {{ site.description }}
        </p>
        <p>© Copyright 2014 TurboPenny, LLC. <br>
          All Rights Reserved.
        </p>
      </div>
    </div>

  </div>

</footer>
